@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    font-family: roboto;
}

h2 {
    text-align: center;
    margin-top: 10px;
    text-shadow: 0 0px 3px rgb(32, 32, 88);
    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
     
}

section form{
    display: flex;
    flex-flow: column nowrap;  
    align-items: center;
}

section {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
}

input {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.219);
    border: none;
}

button{
    padding: 0.8em 1em;
    width: 50%;
    margin: 10px 0;
    background-color: rgba(82, 82, 224, 0.781);
    border: none;
    color : white;
    transition:all 150ms ease-in-out;
}

button:hover {
    /* background-color: rgba(82, 82, 224, 0.644); */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    color: rgb(255, 255, 255);
}